body {
  padding: 10px;
  font-family: sans-serif;
}
.hidden {
	display: none;
}
.btn {
	padding: 8px 12px;
	margin: 5px;
	border-radius: 0px;
	cursor: pointer;
}
.btn:hover {
	box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.1);
}


[party="Labour"] { background-color:#dc241f; }
[party="Scottish National Party"] { background-color:#ffff00; }
[party="Liberal Democrat"] { background-color:#fdbb30; }
[party="Conservative"] { background-color:#0087dc; }
[party="Green Party"] { background-color:#78b943; }
[party="UKIP"] { background-color:#B3009D; }
[party="Plaid Cymru"] { background-color:#3F8428; }
[party="Democratic Unionist Party"] { background-color:#D46A4C; }
